@{
    ViewData["Title"] = "News Page";
}
        <section class="news-section">
            <?php foreach($article_list as $article): ?>
            @foreach (ArticleModel article in Model)
            {
                <div class="main-section__item">
                    <figure class="main-section__figure">
                        <a asp-action="Article" asp-route-id="@article.Id" class="main-section__detail"></a>>
                        <img class="main-section__img" src="@article.Image" alt="@article.Title" title="@article.Title" />
                    </figure>
                    <figcaption>
                        <a asp-action="Article" asp-route-id="@article.Id" class="main-section__title">
                            @article.Title
                        </a>
                        <div class="main-section__writer">
                            <span class="author">@article.Title</span>
                            <span class="date">@article.Date</span>
                            <span class="comments">@article.Comments comments</span>
                        </div>
                        <p class="main-section__description">
                            @article.Content.Substring(0, 285)
                        </p>
                    </figcaption>
                </div>
            }
        </section>
